.down-arrow {
  position: absolute;
  bottom: rem(20px);
  left: 50%;
  width: rem(60px);
  transform: translateX(-50%);
  transition: .3s;
  height: rem(60px);
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    .down-arrow__icon {
      margin-top: rem(-15px);
      width: rem(45px);
      height: rem(45px);
    }
  }
}

.down-arrow__icon {
  fill: #fff;
  left: 50%;
  width: 28px;
  height: 14px;
}

