.down-arrow {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background: red;
}

.down-arrow__icon {
  color: yellow;
}
