.menu-acco {
	display: flex;
  position: absolute;
  list-style-type: none;
	right: 0;
  top: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
}

.menu-acco__item {
  display: flex;
}

.menu-acco__trigger {
  display: block;
  height: 100%;
  width: 80px;
  position: relative;

  &-left {
    background: url('../img/menu/bg-meat.jpg') center center / cover no-repeat;
  }

  &-center {
    background: url('../img/menu/bg-vegetarian.jpg') center center / cover no-repeat;
  }

  &-right {
    background: url('../img/menu/bg-dietary.jpg') center center / cover no-repeat; 
  }
}


.menu-acco__trigger-text {
	font-size: rem(40px);
	color: #fff;
	@include gagalin;
	text-align: center;	
	position: absolute;
  bottom: 0;
  left: 50%;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
	white-space: nowrap;
}

.menu-acco__text {
  overflow: hidden;
  box-sizing: border-box;
	@include ubuntu(light);
	font-size: rem(14px);
	color: #fff;
	padding: 0;
	width: 0;
  line-height: 1.8;
}

.menu-acco__text-active {
  width: 300px;
  padding: 10px;
  background-color:grey;
  z-index: 10;
}






































